In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("stock.csv",index_col=0)

In [3]:
df.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-01-02   0.000000  16.214300  16.214300  17.671400  57186488.0  17.571602
2018-01-03  17.885700  17.378599  17.492901  17.578600  41095849.0  17.479324
2018-01-04  19.142900  17.864300  17.864300  18.871401  52611597.0  18.764826
2018-01-05  19.371401  18.357100  18.592899  19.092899  35511195.0  18.985073
2018-01-08  20.285700  18.571400  18.571400  20.164301  34920065.0  20.050423

In [4]:
df = df.applymap(lambda x:'%0.2f' % x)

In [5]:
df.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [6]:
# TypeError: ('must be real number, not str', 'occurred at index Volume')
df.Volume = df.loc[:,['Volume']].astype('float64')

In [7]:
df.Volume = df.loc[:,['Volume']].applymap(lambda x:'%0.0f'%x)

In [8]:
df.head()

             High    Low   Open  Close    Volume Adj Close
Date
2018-01-02   0.00  16.21  16.21  17.67  57186488     17.57
2018-01-03  17.89  17.38  17.49  17.58  41095849     17.48
2018-01-04  19.14  17.86  17.86  18.87  52611597     18.76
2018-01-05  19.37  18.36  18.59  19.09  35511195     18.99
2018-01-08  20.29  18.57  18.57  20.16  34920065     20.05

In [9]:
df2 = pd.read_csv("stock.csv",index_col=0)
df2 = df2.round(2)
df2.Volume = df2.Volume.astype(int)

In [10]:
df2.head()

             High    Low   Open  Close    Volume  Adj Close
Date
2018-01-02   0.00  16.21  16.21  17.67  57186488      17.57
2018-01-03  17.89  17.38  17.49  17.58  41095849      17.48
2018-01-04  19.14  17.86  17.86  18.87  52611597      18.76
2018-01-05  19.37  18.36  18.59  19.09  35511195      18.99
2018-01-08  20.29  18.57  18.57  20.16  34920065      20.05

In [11]:
df2.loc[df2.High==0]

            High    Low   Open  Close    Volume  Adj Close
Date
2018-01-02   0.0  16.21  16.21  17.67  57186488      17.57

In [12]:
df2.loc[df2.loc[:,"High"]==0,"High"]= df2.High.median()

In [13]:
df2.head()

             High    Low   Open  Close    Volume  Adj Close
Date
2018-01-02  17.68  16.21  16.21  17.67  57186488      17.57
2018-01-03  17.89  17.38  17.49  17.58  41095849      17.48
2018-01-04  19.14  17.86  17.86  18.87  52611597      18.76
2018-01-05  19.37  18.36  18.59  19.09  35511195      18.99
2018-01-08  20.29  18.57  18.57  20.16  34920065      20.05

In [14]:
df2.High.median()

17.685000000000002